body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.center {
  text-align: center;
}


/* questionFrame CSS */
.questionFrame {
  width: 100%;
  max-width: 590px;
  min-width: 500px;
  display: flex;
  margin: 10px auto;
  border: 4px solid #DDE0E3;
  border-radius: 3px;
  flex-direction: column;
}

.qf-header {
  background-color: #DDE0E3;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.qf-body{
  display: flex;
  flex-direction: row;
  align-items: left;
}

.qf-info {
  margin: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.qf-info > span {
  font-weight: bold;
}

.qf-info-button {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 300px;
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  background-color: lightgreen;
  font-size: 16px;
  text-decoration: none;
  color: darkgreen;
}

.qf-info-button:hover {

}

.qf-divider {
  width: 10px;
  margin: 6px 0;
  background: #DDE0E3;
  display: flex;
}

.qf-avatar {
  border: 1px solid #000;
  height: 120px;
  border-radius: 60px;
  margin: 10px;
  display: flex;
  align-self: center;
}

/* tabs on main page (Home component) */
.tab {
  overflow: hidden;
  border: 4px solid #DDE0E3;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 50%;
  transition: 0.3s;
  font-size: 16px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #A6EB99;
  color: green;
  font-weight: bold;
}

.tabcontent {
  display: none;
  padding: 16px 12px;
  border: 4px solid #DDE0E3;
  border-top: none;
}

/* login form */
.login-form {
  width: 100%;
  max-width: 590px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border: 4px solid green;
  border-radius: 3px;
}

.login-header {
  background-color: #A6EB99;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h2 {
  margin: 0;
  color: green;
}

.login-header p {
  margin: 10px;
  color: darkgreen;
}

.login-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  height: 180px;
  margin: 10px;
  display: flex;
  align-self: center;
}

.login-user-select-form {
  width: 100%;
  display:flex;
  margin: 10px;
  flex-direction: column;
}

.login-user-select {
  display:flex;
  border: 1px solid green;
  margin: 5px;
}

.login-button {
  color: darkgreen;
  background-color: #A6EB99;
  margin: 5px;
}

/* nav bar */
.active {
  font-weight:bold;
}

.nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #A6EB99;
  border-bottom: 1px dotted #ccc;  }

.nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0; }

.nav li {
  float: left;
  padding: 8px 15px; }

.nav li a {
  display: block;
  text-decoration: none; }

.nav li a:visited {
  color: darkgreen; }

.nav li a:disabled {
  color: darkgray; }

.nav li a:hover {
  color: #A6EB99;
  background-color: darkgreen; }

.nav-right {
  float: right;
}

.login-message {
  color:black;
}
